body {
    background-image: linear-gradient(antiquewhite, bisque);
    background-color:red;
    margin: 10px;
    padding: 10px;
    line-height: 1;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    font-family: 'Acme';
}

#jumboHeader {
    max-height: 150px;
    min-height: 50px;
    
}

h1 {
    text-align: center;
    color: sandybrown;
    font-family: 'Slackey', cursive;
    font-size: 20%;
    padding: 1px;
}

h2, h3, h4 {
    text-align: center;
    font-family: 'Marvel:700';
    font-size: 15px;
    color: darkbrown;
}




    

/* .leftbottom {
/*     background-image: url(../images/wordguessbackgroundimage.jpg); */
/*     background-repeat: no-repeat;*/
/*    background-size: 300px 200px;*/
/*     background-position: left;*/
/*}*/

/*.rightbottom {*/
/*     background-image: url(../images/wordguessbackground2image.jpg); */
/*     background-repeat: no-repeat;*/
/*     background-size: 300px 100px;*/
/*     background-position: right;*/
/* } */

